body {
  background-color: black;
}

.seta-btn {
  background-color: #ac0614;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

.seta-btn i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}




.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}



.login__header h1 {
  color: #fffbfb;
  font-size: 1.5em;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
   margin-bottom: 1rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ac0614;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(233, 223, 223, 0.2);
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}